.employee-form {
    width: 70%;
    max-width: 1000px; /* Limit the maximum width */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px auto;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.employee-form {
  width: 70%;
  max-width: 1000px; /* Limit the maximum width */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px auto;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.employee-form .form-group {
  margin-bottom: 100px;
}
