/* style.css */

.job-posting-box {
  width: 70%;
  max-width: 1000px;
  /* border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.left-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 16px;
}

.right-column {
  /* ... existing styles ... */
  position: absolute;
  top: 50%; /* Position vertically at the middle */
  right: 16px; /* Align to the right */
  transform: translateY(-50%); /* Center vertically using translateY */
}

